.about {
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .about-content h4 {
    font-size: 40px;
    line-height: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellowgreen;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
  }
  
  .about-content ul {
    color: #fff;
    text-align: justify;
  }
  
  .about-content ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
  
  .about-skills {
    flex-basis: 35%;
    margin-top: 40px;
  }
  
  .about-skills ul {
    list-style-type: none;
  }
  
  .about-skills ul li {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
  }
  
  .about-skills ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }